.Container {
  width: 100%;
  max-width: 1052px;
  margin: 100px auto 30px auto;
  background-color: #ffffff;
}

.miniContainer {
  width: 100%;
  max-width: 874px;
  margin: 0 auto;
}

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 20px;
  margin-bottom: 40px;
}

.sectionContainer {
  width: 100%;
  margin: 24px 0;
}
