.searchInputStyle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px;
  width: 100%;
  border: 1px solid #00000020;
  border-radius: 14px;
  gap: 10px;
}

.searchInputStyle input {
  background: none;
  width: 100%;
  min-width: 650px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
}
