.popularClinicsSection {
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 1052px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 16px;
}

.popularClinicsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

.clinicCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 16px;
  border-radius: 20px;
  background-color: #f9fafb;
  max-height: 112px;
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.clinicCard:hover {
  transform: translateY(-2px);
}

.clinicLogo {
  width: 34px;
  height: 34px;
  object-fit: contain;
  align-self: flex-start;
  margin-bottom: 26px;
}

.clinicName {
  font-size: 16px;
  color: #0f172a;
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 0;
}

@media (max-width: 1024px) {
  .popularClinicsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .popularClinicsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .popularClinicsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
