.selectContainer {
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
}

.selectContainer .select {
  font-size: 16px;
  background: none;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
