.breadcrumb-container {

  font-size: 14px;
  margin: 16px 0 30px 0;
  font-family: "Inter", sans-serif;
}

.ordered-list {
  display: flex;
  gap: 4px;
}

.full-list {
    display: flex;
    gap: 4px;
}

.active {
<<<<<<< HEAD
    color: black;
    font-weight: 400;
}

.inactive {
    color: gray;
    text-decoration: none;
=======
  color: black;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.inactive {
  color: gray;
  text-decoration: none;
  font-family: "Inter", sans-serif;
>>>>>>> 5a1bb0ffb760daf3d426ef9cf6a84e69a3ad6115
}

.separator {
    color: gray;
}
