.miniContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 874px;
  margin: 100px auto;
  background-color: #ffffff;
}

.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 20px;
}

.commonCatalogStyle {
  width: 100%;
  margin: 90px auto;
}

.commonCatalogStyle ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 10px;
  margin: 0 auto;
  padding: 0;
  max-width: 874px;
}

.catalogStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalogListStyle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.catalogListStyle div {
  width: 200px;
}

.catalogListStyle div .linkStyle {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  cursor: pointer;
  gap: 25px;
}

.catalogListStyle div .linkStyle .link {
  color: #007aff;
  display: inline;
  text-decoration: 1px underline dashed gray;
  text-underline-offset: 4px;
  padding-bottom: 20px;
}

.selectionsStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectionsStyle .selections {
  display: flex;
  align-items: center;
  gap: 20px;
}

.activeButton {
  font-size: 16px;
  opacity: 0.4;
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.popularDoctors {
  width: 1510px;
  margin: 50px;
  background-color: #f3f5f6;
}

.throwTelegram {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 40px auto;
  background-color: white;
  border-radius: 16px;
  width: 856px;
  padding: 20px;
}

.throwTelegram .telegramLinkButton {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 12px 18px;
  outline: none;
  border: none;
}

.throwTelegram .telegramLinkButton .telegramLink {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.commentSection {
  width: 100%;
  margin: 0 auto;
}

.commentSection .commentBlocks {
  display: grid;
  grid-template-columns: repeat(1, 4);
}

.commonServices {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 40px;
}

.commonServices .commonServicesLinks {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.navLink {
  color: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-decoration: 1.5px underline dotted black;
  text-underline-offset: 2px;
}

.details ul {
  margin: 0;
  padding: 20px;
}

.details ul li {
  margin-bottom: 20px;
}
