@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  width: 100%;
  max-width: 1052px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
}

.breadcrumbContainer {
  width: 100%;
  max-width: 1052px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
}

.miniContainer {
  width: 100%;
  max-width: 874px;
  height: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.search-section {
  margin-bottom: 40px;
}

.main-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.title {
  color: #333;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.content {
  color: #1e1e1e;
  cursor: default;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  white-space: pre-line;
}
