.container {
  max-width: 1052px;
  margin: 0 auto;
  padding: 16px;
}

.search-section {
  margin-bottom: 40px;
}

.main-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.title {
  color: #333;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.content {
  color: #1e1e1e;
  cursor: default;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  white-space: pre-line;
}
