.servicesInTashkent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.servicesBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
}

.servicesBlock .oneColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.link {
  margin-top: 2px;
  font-size: 16px;
  color: #007aff;
  text-decoration: 1.8px underline dotted gray;
  text-underline-offset: 2px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.servicesBlock .oneColumn .serviceItem {
  margin-bottom: 12px;
}
