.catalogCardStyle {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  background-color: #f6f8f9;
  height: 80px;
  width: 97px;
  overflow: hidden;
  cursor: pointer;
}

.catalogCardStyle img {
  position: relative;
  left: 30%;
}

@media (max-width: 640px) {
  .catalogCardStyle {
    width: 100px;
    height: 72px;
    padding: 14px;
  }

  .catalogCardStyle img {
    left: 20%;
  }
}
