.buttonStyle {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 18px 38px;
  cursor: pointer;
  background-color: #007aff10;
  color: #007aff;
  line-height: 22px;
  border-radius: 12px;
}
