.promotions-container {
    h1 {
        margin-bottom: 30px;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    padding-top: 30px;
    width: 100vh;
}

.card-back {
    background-color: #F3F5F6;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    margin-bottom: 40px;
}

.btn {
    background-color: white;
    color: #000;
}

/* Responsive design */
@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 30px 16px;
    }
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 24px 16px;
    }
}