.catalogStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalogListStyle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.catalogListStyle div {
  width: 200px;
}

.catalogListStyle div .linkStyle {
  position: relative;
  right: 40px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  cursor: pointer;
  gap: 25px;
}

.catalogListStyle div .linkStyle .link {
  color: #007aff;
  display: inline;
  text-decoration: 1.6px underline dotted gray;
  text-underline-offset: 4px;
  padding-bottom: 20px;
}

.showButton {
  position: relative;
  bottom: 10px;
  background: none;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.count {
  color: gray;
  text-decoration: 1px underline dashed #00000010;
}

.linkWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
